<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= test_level(@test.level) %>
</p>

<%= link_to "Edit", edit_test_path(@test) %>
<%= link_to "Back", tests_path %>

<hr>

<strong>Questions</strong> -- <%= link_to "add new question", new_test_question_path(@test) %>
<table>
<tr>
  <th>Body</th>
  <th colspan="2">Actions</th>
</tr>
<%= render partial: "questions/question", collection: @questions, as: :question %>
</table>